doctype html
html
  head
    title Chart
    script(src="http://code.jquery.com/jquery-2.2.0.min.js")
    // this is for chartjs. we have aswitched to highcaharts. script(src="https://cdn.rawgit.com/nnnick/Chart.js/master/Chart.js")
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
  body
    Working Chart
    #container(style="min-width: 310px; height: 400px; margin: 0 auto")
    script(src="javascripts/dashboard.js")